<h1>
  {{title}}
</h1>
<div hidden>

<app-life *ngIf="!delete" [bindable]="boundValue">
  <p #boundContent>{{test}}</p>
</app-life>
<button (click)="delete = true">Click destroy</button>
<button (click)="test = 'Welcome Change'">Click Change content</button>
<button (click)="delete = false">Click enable</button>
<button (click)="boundValue = 1121">Click Chnage Property</button>
<button (click)="boundValue = 1122">Click Chnage Property</button>
<div customDirective [backgroundColor]="'blue'" [defultColor]="'yellow'"> Welcom Directive</div>
<!--<button (click)="delete = false">Click enable</button>-->
<br>
<template [ngIf]="delete">
  <div>Sturctral directive</div>
</template>
<div *structDirective="delete">local Struct</div>

<div [ngSwitch]="value">
  <p *ngSwitchCase="100">Vijay100</p>
  <p *ngSwitchDefault>Vijay</p>
</div>
<ul>
  <li *ngFor="let item of items1">{{item}}</li>
</ul>
{{value1}}
<input type="text" #newServ>
<button (click)="onLog(newServ.value)">Click Here To Log</button>
<button (click)="onStore(newServ.value)">Add Data</button>
<button (click)="onShowdata()" >onGetvalue</button>
  </div>
<app-sample [proBinding] (evClick)="touchInput($event)"><h1>test-sample</h1></app-sample>
<label>UserName</label>
<input type="text"  #username >
<br>
<label>Password</label>
<input type="password" #password >
<br>

<button (click)="onSubMit(username.value,password.value)">Submit</button>
<button (click)="onGet()">Get</button>
<button (click)="onGetInventory()">Get Inventory Location</button>
<button (click)="onDelete()">Delete Quotation</button>
<br>
<nav>
  <a [routerLink]="['']">User Add</a>
  <a [routerLink]="['/user/list']">User List</a>
  <a [routerLink]="['/user/detail']">User Detail</a>

</nav>

<img src="../app/images/cat1.jpg" width="100" height="100">
  <router-outlet></router-outlet>


